[package]
name = "yasp"
version = "0.1.0"
authors = ["you06 <you1474600@gmail.com>"]
edition = "2018"
build = "build.rs" # LALRPOP preprocessing

[build-dependencies]
lalrpop = {version="0.19.0", features = ["lexer"]}

[dependencies]
lalrpop-util = "0.19.0"
regex = "1"
